(settings) {
    encode gzip
    log {
        output stdout
    }
    file_server {
        hide ssl.pem ssl.key key.ts key.js.map key.js
    }
    reverse_proxy /socket localhost:8080 {
    }
}

localhost {
    import settings
}
